<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{index.page.title}">Title</title>

    <link href="../../static/css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>

    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link href="../../static/css/main.css" th:src="@{/css/main.css}" rel="stylesheet" media="screen" />
</head>
<body>
<div class="jumbotron" th:fragment="jumbotron">
    <div class="container">
    <h1>Spring Framework Guru</h1>
    <p class="lead" th:text="#{index.courses.tagline}">Tag Line!</p>
    </div>
</div>

</body>
</html>
