<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Checkout</title>

    <link href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen">

</head>
<body>
<div class="container">
    <h2>Checkout Form</h2>
    <form class="form-horizontal" th:object="${checkoutCommand}" th:action="@{/docheckout}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{checkoutCommand.hasErrors}">Error Message</p>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('firstName')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                    <h4 th:text="#{checkoutCommand.firstName}"></h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('lastName')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="has-error" />
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                    <h4 th:text="#{checkoutCommand.lastName}"></h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('addressLine1')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Address Line 1:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{addressLine1}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('addressLine1')}">
                    <h4 th:text="#{checkoutCommand.addressLine1}"></h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('addressLine1')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('addressLine2')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Address Line 2:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{addressLine2}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('addressLine2')}">
                    <h4 th:text="#{checkoutCommand.addressLine2}"></h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('addressLine2')}" th:text="${err}" />

                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('city')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">City:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{city}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('city')}">
                    <h4 th:text="#{checkoutCommand.city}"></h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('city')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('stateCode')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">State Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{stateCode}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('stateCode')}">
                    <h4 th:text="#{checkoutCommand.stateCode}"></h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('stateCode')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group" th:class="${#fields.hasErrors('zipCode')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Zip Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{zipCode}" th:errorclass="has-error"/>
                <span class="help-block" th:if="${#fields.hasErrors('zipCode')}">
                    <h4 th:text="#{checkoutCommand.zipCode}"></h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('zipCode')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>

</div>

</body>
</html>
