<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{index.page.title}">Title</title>

    <link href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen">
</head>
<body>

<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead" th:text="#{index.courses.tagline}">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{index.courses.headline}">Spring Framework Guru Courses</h1>
        </div>
    </div>



    <div class="row course-list list">
        <div class="row course-list list">
            <div th:each="product,it : ${products}">
                <div th:if="${it.count gt 0 and it.count lt 4}">
                    <div th:replace="fragments/productdiv :: productdiv">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row course-list list">
        <div class="row course-list list">
            <div th:each="product,it : ${products}">
                <div th:if="${it.count gt 3 and it.count lt 7}">
                    <div th:replace="fragments/productdiv :: productdiv">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- End of main container -->

    <div th:replace="fragments/footer :: footer">
    </div>



</body>
</html>
