<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{index.page.title}">Title</title>

    <link href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen">
</head>
<body>

<div class="jumbotron" th:replace="fragements/jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru</h1>
        <p class="lead" th:text="#{index.courses.tagline}">Online Courses for Spring Framework</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{index.courses.headline}">Spring Framework Guru Courses</h1>
        </div>
    </div>



    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.courseName}"></td>
        </tr>
    </table>

</div> <!-- End of main container -->

    <div th:replace="fragements/footer :: footer">
    </div>



</body>
</html>
