<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Success!</title>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.css"
          th:href="@{css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen" />

</head>
<body>
<div class="container">
    <div class="row col-md-12">
        <h2>Logged in</h2>
    </div>
</div>
