<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title> <link href="../static/css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" media="screen"  th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" />

    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen" />

</head>
<body>
<div class="jumbotron" th:replace="fragements/jumbotron :: jumbotron">
    <div class="container">
        <h1>Spring Framework Guru - Course Name</h1>
        <p class="lead" th:text="#{index.courses.tagline}">Online Courses for Spring Framework</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${product.courseName}">Spring Framework Guru - Course Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <img src="../static/images/SpringIntroThumb.png"
                 class="center-block" th:attr="src='/images/' + ${product.imageUrl}">
            <div class="row course-listing-extra-info col-xs-12">
                <div class="col-xs-8 course-listing">
                    <img align="left"
                         src="../static/images/instructor_jt.jpg"
                         class="img-circle" th:attr="src='/images/' + ${product.author.image}"/>
                    <div class="small course-author-name" th:text="${product.author.firstName} + ' ' + ${product.author.lastName}">
                        Firstname + Lastname
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="small course-price" th:text="'Price: ' + ${product.price > 0 ? product.price : 'FREE'}">$PRICE
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div>
                <h2 th:text="${product.courseSubtitle}">Course Title</h2>
                <p th:text="${product.courseDescription}">Adipiscing magna vestibulum fringilla tristique ad a primis ante mi inceptos condimentum curabitur
                    curabitur eu sed nullam ridiculus nunc montes id nostra dui inceptos scelerisque posuere ipsum mus.
                    A scelerisque libero viverra eu condimentum mollis suscipit mi consectetur semper dis ipsum nisi
                    in nullam aliquet iaculis in eros euismod bibendum. Adipiscing volutpat fringilla bibendum duis a
                    maecenas eu lorem accumsan fames sem faucibus ad mauris aliquam nam. Torquent amet adipiscing fusce
                    fringilla venenatis tristique scelerisque natoque malesuada nostra duis nam augue ridiculus
                    pulvinar ultrices laoreet in condimentum justo id. Nascetur condimentum maecenas magna metus curae
                    est odio ad dui fames quam a aenean consequat faucibus nostra lorem adipiscing vestibulum
                    ullamcorper etiam consectetur. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-6 col-md-4">
            <button class="btn-success" th:text="#{index.courses.buynow}">Buy Now!</button>
        </div>
    </div>
</div>
<div th:replace="fragements/footer :: footer"></div>
</body>
</html>